<h3>以下の内容で、送信する。（確認画面）</h3>

<%= form_with(model: @kadai, url: kadais_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>コメント：<%= @kadai.content %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name:'back'%>

<% end %>
