<header>
<h1>コメント一覧</h1>
</header>

<body>
<table>
<% @kadais.each do |kadai| %>
  <tr>
    <td class=comment><%= kadai.content %></td>
    <td class=function><%= link_to '投稿確認', kadai_path(kadai.id) %></td>
    <td class=function><%= link_to '編集', edit_kadai_path(kadai.id) %></td>
    <td class=function><%= link_to 'ブログを削除する', kadai_path(kadai.id), method: :delete %></td>
  </tr>
<% end %>
</table>
</body>
<br>
<footer>
<%= link_to '投稿', new_kadai_path %>
</footer>
